{{ define "main" }}

{{ "<!-- Home Image with Logo Text -->" | safeHTML }}
<div class="w3-display-container" style="max-height:600px; overflow:hidden;">

  {{ "<!-- Hero Image -->" | safeHTML }}
  <img src="{{ .Site.Params.Image }}" class="w3-image">

  <div class="w3-container w3-display-bottomright cc-std-font w3-text-black w3-large">
    <p>{{ with .Page.Params.imageCredit }}<span>Photo Credit: <b>{{ . }}</b></span>{{ end }}</p>
  </div>

</div>

<div class="w3-container" style="margin-left:10%">

  <div class="w3-text-theme w3-border-bottom w3-padding-large w3-white" style="font-size:4vw">{{ .Page.Params.title }}</div>
  
  <div class="w3-text-theme w3-white w3-padding-large">{{ .Content }}</div>

</div>

{{ end }}
