{{ define "main" }}

{{ if .Page.Params.Image }}

  {{ "<!-- Page Specified Hero Image -->" | safeHTML }}
  <div class="w3-display-container" style="max-height:450px; overflow:hidden;">


    <img src="{{ .Page.Params.Image }}" class="w3-image">
    
    <div class="w3-container w3-large w3-display-bottomright w3-theme-l1">
      <p>{{ with .Page.Params.imageCredit }}<span>Photo Credit: <b>{{ . }}</b></span>{{ end }}</p>
    </div>

  </div>

{{ else }}

  {{ "<!-- Default to Site Hero Image -->" | safeHTML }}
  <div class="w3-display-container" style="max-height:450px; overflow:hidden;">
    
    <img src="{{ .Site.Params.hero.image }}" style="width:100%;"> 
    
    <div class="w3-container w3-display-bottomright w3-theme-l1">
      <p>{{ with .Site.Params.hero.credit }}<span>Photo Credit: <b>{{ . }}</b></span>{{ end }}</p>
    </div>

  </div>

{{ end }}


{{ "<!-- Category Section -->" | safeHTML }}
<div class="w3-container w3-padding">

  {{ "<!-- Category Heading and Summary -->" | safeHTML }}
  <div class="w3-container w3-padding" style="margin-left:10%">
    <div class="w3-text-theme" style="font-size:4vw">{{ .Page.Params.pagetitle }}</div>
    <div class="w3-padding-32 w3-text-theme">{{ .Summary }}</div>
  </div>

  {{ "<!-- Category List -->" | safeHTML }}
  <div class="w3-container w3-padding w3-col">
    
    {{ $parent := .Page }}
    {{ range (where .Site.Pages.ByWeight "Section" .Section ) }}
      {{ if eq .Parent $parent }}
        
        <div class="w3-quarter w3-center">

          {{ if .Page.Params.Image }}

            {{ "<!-- Page Specified Hero Image -->" | safeHTML }}
            <div><img src="{{ .Params.Image }}" class="w3-padding-large" style="max-width:80%"></div>

          {{ else }}

            {{ "<!-- Default to Site Hero Image -->" | safeHTML }}
            <div><img src="{{ .Site.Params.hero.image }}" class="w3-padding-large" style="max-width:80%"></div>
            
          {{ end }}

          <div class="w3-padding-large">
            <a href="{{ .Permalink }}" style="font-size:2vw">{{ .Title }}</a>

            <p>{{ .Summary }}</p>
          
          </div>
        </div>
  
      
      {{ end }}
    {{ end }}
  
  </div>

</div>

{{ end }}
